{% extends 'accounts/main.html' %}

{% block content %}
<div style="text-align: center; padding: 200px; ">
    <h2> Il buon cibo e la tradizione pugliese ti stanno aspettando, ma non qui.</h2>
    <h4 style="color: #FFFFF0;">
        Questa pagina è riservata allo staff e non è possibile visualizzarla.
        Se ritieni sia un errore, <a href="mailto:amministrazione@efregn.com" style="color: #FFFFF0; font-weight: bold;">contattaci</a>.
    </h4>    
    <br>
    <a href="/" class="loginbutton"> RIPORTAMI ALLA HOMEPAGE </a>

</div>
{% endblock %}